:root {
    --text2-color: #000000;
    --text-color: #FAFAFA;
    --primary-color: #FFFFFF;
    --secondary-color: #F5F5F5;
    --secoundary2-color:#dc3545;
}

/* header style */
header,
header select {
    background-color: var(--text2-color) !important;
}

header nav a {
    color: var(--text2-color) !important;
}

header form input {
    background-color: var(--secondary-color) !important;
}

header .top-banner {
    color: var(--text-color) !important;
}

/* footer style */
footer,
footer input,
footer button {
    background-color: var(--text2-color) !important;
}

footer .copyright {
    color: var(--primary-color);
}

/* billing details */
#billing-details input {
    background-color: var(--secondary-color) !important;
    color: var(--text2-color) !important;
}

/* Checkbox styles */
.form-check-input[type="checkbox"]:checked {
    background-color: var(--secoundary2-color); 
    border-color: var(--secoundary2-color);
}

/* Radio button styles */
.form-check-input[type="radio"]:checked {
    background-color: var(--secondary2-color); /* Black fill */
    border-color: var(--secondary-color); /* Black fill */
}

/* Ensure specificity */
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--secoundary2-color) !important;
}

/*breadcrumb styles*/
.breadcrumb a {
    color: var(--text2-color) !important;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: var(--text2-color) !important;
    text-decoration: none;
}

/* profile */
#profile input {
    background-color: var(--secondary-color);
    color: var(--secondary2-color);
}

#trash-btn:hover  {
  color: var(--secoundary2-color)/* Bootstrap's text-danger red */
}

